<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <title>Registration Form</title>
</head>
<body>
    <h1>Registration Form .</h1>
    <form action="/user/register" method="post">
        <div class="mb-4">
            <label for="fullName" class="form-label">Name</label>
            <input type="text" class="form-control" name="fullName" id="fullName">
        </div>
        <%- include("./partials/form") %>
    </form>
    <%- include("./partials/foot") %>
</body>
</html>